<ion-content [fullscreen]="true">
  <div class="background-image">
    <img src="assets/images/base.jpg" alt="Base" class="base-img" />

    <div class="events">
      <div class="event-container">
        <img src="assets/images/aws_000.png" alt="Event 1" class="event-img" />
        <h2 class="month-title">January</h2>
      </div>

      <div class="event-container">
        <img src="assets/images/aws_000.png" alt="Event 2" class="event-img" />
        <h2 class="month-title">March</h2>
      </div>

      <div class="event-container">
        <img src="assets/images/aws_000.png" alt="Event 3" class="event-img" />
        <h2 class="month-title">October</h2>
      </div>
    </div>
  </div>
</ion-content>
