<ion-content class="ion-padding info-content">
  <h1 class="info-title">Infos</h1>
  <p class="info-paragraph">
    <b>Climate Protection</b> is essential to ensure a sustainable future for our planet. 
    <b>Rising temperatures, extreme weather</b> events, and biodiversity loss threaten ecosystems, livelihoods, and global stability. 
    By taking <b>action</b> now, we can preserve vital resources, protect communities, and create a healthier environment for future generations.
  </p>
</ion-content>
